<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <form method="post">
        <p>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </p>
        <p>
            <label for="country">Country:</label>
            <input type="text" name="country">
        </p>
        <p>
            <label for="birth">Birth:</label>
            <input type="number" name="birth">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>